{% extends "base.html" %} {% block title %}edit person{% endblock %} 
{% block content %}
<form method="POST">
    <h3 align="center">edit person</h3>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        placeholder="Enter first name"
        value = "{{ person.first_name }}"
      />
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          name="lastName"
          placeholder="Enter last name"
          value = "{{ person.last_name }}"
        />
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
          value = "{{ person.email }}"
        />
      </div>
    <div class="form-group">
      <label for="pin">pin</label>
      <input
        type="text"
        class="form-control"
        id="pin"
        name="pin"
        placeholder="Enter pin"
        value = "{{ person.pin }}"
      />
    </div>
    <div class="form-group">
      <label for="accessLevel">Access level</label>
      <select
        class="form-control"
        id="access_level"
        name="access_level"
        placeholder="Access level">
        {% for a in access_levels %}
        <option value={{a.id}}
        {% if a.id == person.access_level %}
          selected
          {% endif %}>
          {{a.name}}
        </option>
        {% endfor %}
      </select>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}